@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

/* variables */
:root{
    --fros-blue-color: #149279;
    --light-blue-color: #1abc9c;
    --dark-color: #202020;
    --light-gray: #dedede;
    --light-color: #fff;
    --poppins-font: 'poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.main_bg{
    background-color: var(--fros-blue-color);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
    border-radius: 25px solid var(--light-color);
    background-color: var(--light-color);
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: var(--fros-blue-color);
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: var(--fros-blue-color);
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    background: none;
    border: 1px solid var(--light-gray);
    font-size: 20px;
    color: var(--dark-color);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    background: none;
    border: 1px solid var(--light-gray);
    font-size: 20px;
    color: var(--light-gray);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}

.main-form div span{
    width: 100%;
    color: var(--fros-blue-color);
    font-size: 20px;
    text-align: center;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    width: 200px;
    background-color: var(--light-blue-color);
    color: var(--light-color) ;
    transition: all .3s;
}
#submit input:hover{
    width: 200px;
    background-color: var(--light-gray) ;
    color: var(--fros-blue-color);
}
#submit input:active{
    font-size: 19px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

  


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}
